<div style="margin-top: 100px;">
    <!--<hr>-->
    <div class="row">
      <div class="col-sm">

          <footer>
            <p class="text-muted"><small>&copy; <%= Time.now.year %> Rightpoint Consulting</small></p>
          </footer>

      </div>
    </div> 
</div>
