

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "ExperienceGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

  <div style="margin: 2.5em 0 5em 0;">
  <small style="text-transform: uppercase;">Welcome to the</small>  
  <h1 class="display-4" style="margin: 0 0 1em 0;">HFE Experience Guide</h1>
    <p class="lead">Tools for understanding, creating and managing website content.</p>
    <p class="lead">A living guide that centralizes your documentation.</p>
  </div>

<div class="row">
    <div class="col-sm-5">
  <h4>The Guide is for:</h4>
    <ul>
      <li>Content creators</li>
      <li>Content editors</li>
      <li>Content managers</li>
      <li>Marketers</li>
      <li>Website developers</li>
    </ul>
    </div>
<div class="col-sm-5">
  <h4>The Guide helps with:</h4>
    <ul>
      <li>Guidance on the intent of an individual page content and templates</li>
      <li>What elements appear on a webpage and why</li>
      <li>Visual Design System elements</li>
      <li>Crafting messaging for webpages</li>
      <li>Sitemaps for properties</li>
      <li>Overall site strategy</li>
    </ul>
    </div>
    <div class="col-sm-2">
  
    
    </div>
</div>
              
              
         
              
              
     
</main>  
                    
</div>
</div>



