

  <div class="row">

		<div class="col-sm">


			<h1>Content Roadmap<small class="text-muted"> Global</small></h1>

      <%= render "siteRoadmap" %>
      


		</div>
	</div>
  	<hr>
  <div class="row">
    <div class="col-sm">

        <%= render "footer" %>

    </div>
  </div>