

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Newport Aquarium Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Action Bar</h1>

</div>


<hr class="mt-5">
<h5 class="font-weight-bold">Action Bar - General</h5>
<div class="row my-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-actionbar-general.png", alt: "Action Bar - General") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Action Bar - Layout and Rules</h5>

            <p>The action bar is meant to be flexible enough  to account for seasonal changes and the types of users interacting with them. On desktop it should span the length of the browser, on mobile it will be housed within an expand/collapse state.</p>

            <p>For Newport, we have included the following: </p>
            
            <p><strong>Today’s hours:</strong> this area should highlight hours or messaging if the parks are closed.</p>
            
            <p><strong>What type of ticket?:</strong> this dropdown allows for the selection of which type of ticket the user wants.</p>
            
            <p><strong>When?:</strong> this dropdown houses a calendar that allows the user to select which day the are visiting.</p>
            
            <p><strong>What time?:</strong> this dropdown gives a range of times available for that day’s tickets.</p>
            
            <p><strong>How Many?:</strong> this dropdown allows for selection  of the number of guests and their age range from adult or child.
            </p>


            </div>
</div>


           
              
     
</main>  
                    
</div>
</div>



