

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Button Styles</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-buttonstyles.png", alt: "Button Styles") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>The button style system is meant to be as simple as possible, in order to establish a framework that is both un-obtrusive and easy for users to learn.</p>

            <p>The primary site CTA’s are outlined, with a branded color hover state (blue during general times, branded colors during seasonal times).</p>
            
            <p>In checkout, we utilize the filled in color in order to add prominence to decision factors. The same branded color rules apply.</p>
            
            <p>The non-active state is used in form fields or any area where the user has to input data or an action in order to proceed.</p>
            
            <p>Text CTA’s are used in any smaller components or areas where a larger button style does not work. </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



