

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Newport Aquarium Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Attraction Search</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/naq-attractionsearch.png", alt: "Attraction Search") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component allows the content author to quickly and easily showcase a large amount of content in a compelling visual way. In the instance of large amounts of content, it is recommended to show the first two rows (on desktop) or the first three cards (on mobile) before loading more.

            <p>There are a few elements that make up this component:
            <ul><li>Header</li>
            <li>Tab bar</li>
            <li>Filter & sort bar</li>
            <li>Cards</li>
            <li>“Load More” CTA</li></ul>
            
            <p>The content author can add the following elements:
            
            <p class="font-weight-bold">Header:</p>
            <ul><li>Eyebrow text</li>
            <li>Header text</li></ul>
            
            <p class="font-weight-bold">Tab bar:</p>
            <ul><li>Tab text</li></ul>
            
            <p class="font-weight-bold">Filter & sort bar:</p>
            <ul><li>Filtering & sort options available to input</li></ul>
            
            <p class="font-weight-bold">Cards inactive state:</p>
            <ul><li>Eyebrow text</li>
            <li>Header text</li></ul>
            
            <p class="font-weight-bold">Cards hover/active state:</p>
            <ul><li>Eyebrow text</li>
            <li>Location text</li>
            <li>Header text</li>
            <li>Body copy text</li>
            <li>Text CTA</li></ul>
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



