

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Offset Carousel</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-offsetcarousel.png", alt: "Offset Carousel") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component combines text and image into  a left/right format, with the images in a carousel. The content author can input as many images  as necessary, we recommend at least 3 and  at most 5.</p>

            <p>The content author can add the following elements:</p>
            <ul>
            <li>Image(s)</li>
            <li>Eyebrow text</li>
            <li>Headline text</li>
            <li>Body copy text</li>
            <li>CTA</li>
            <li>Carousel Indicator</li></ul>
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



