

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Newport Aquarium Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Calendar</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/naq-calendar.png", alt: "Calendar") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component houses any and all relevant information for the property, from hours to events to quick links for ticket buying. Each event listed will get a color coordinated icon. It is beneficial to include the event name with the icon for clarity.</p>

            <p>The content author can add the following elements per component:
            <ul><li>Property/Park hours - per each property or park</li>
            <li>Events</li>
            <li>Ticket links</li></ul>

            
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



