

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Image Promo</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-imagepromo.png", alt: "Image Promo") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component combines text and image into a left/right format. The content author can decide on image left/content right first or vice versa.</p>

            <p>The content author can add the following elements:</p>
            <ul>
            <li>Image</li>
            <li>Eyebrow text</li>
            <li>Headline text</li>
            <li>Body copy text</li>
            <li>CTA</li></ul>
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



