

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Newport Aquarium Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Typography</h1>
  <p>The typography chosen for Newport Aquarium represents the best web font solution to the fonts used for print materials. For Newport Aquarium we are using Oswald and Montserrat, both are free Google fonts. </p>

</div>

<hr class="mt-5">
<h6 class="font-weight-bold" style="margin: 0 0 2em 0;">Typefaces in Use</h6>
<div class="row">

        <div class="col-sm-6">
            <small class="text-muted">PRIMARY</small>
            <h2 class="oswald text-muted text-uppercase">Oswald</h2>
            <small><a href="https://fonts.google.com/specimen/Oswald?selection.family=Oswald" target="_blank" alt="Google Fonts - Oswald">DOWNLOAD ></a></small>
        </div>

        <div class="col-sm-6">
            <small class="text-muted">SECONDARY</small>
            <h2 class="montserrat text-muted">Montserrat</h2>
            <small><a href="https://fonts.google.com/specimen/Montserrat" target="_blank" alt="Google Fonts - Montserrat">DOWNLOAD ></a></small>
    
        </div>
</div>

<hr style="margin-top: 5em;">
<h6 class="font-weight-bold" style="margin: 0 0 2em 0;">Weights</h6>
<div class="row">

        <div class="col-sm-6">
            <p style="font-size: 2.5em;" class="oswald font-weight-bold text-muted text-uppercase">Bold</p>
            <p style="font-size: 2.5em;" class="oswald text-muted text-uppercase">regular</p>
        </div>

        <div class="col-sm-6">
        <p style="font-size: 2.5em;" class="montserrat font-weight-bold text-muted">Bold</p>
        <p style="font-size: 2.5em;" class="montserrat font-weight-normal text-muted">regular</p>    
        <p style="font-size: 2.5em;" class="montserrat font-weight-light text-muted">Light</p>  
        </div>
</div>

<hr class="mt-5">
<h6 class="font-weight-bold">Display Sizes</h6>
<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 64pt; line-height:70px;" class="oswald font-weight-bold">H1 - 64pt</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">H1 - Libre oswald</p>
            <p>Font size: 64pt</p>
            <p>Font weight: bold</p>
            <p>Line height: 70pt</p>
            <p>Character tracking: 1em</p>
        
        </div>
</div>

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 54pt; line-height:60px;" class="oswald font-weight-normal">H2 - 54pt</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">H2 - Libre oswald</p>
            <p>Font size: 54pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 60pt</p>
            <p>Character tracking: 1.5em</p>
        
        </div>
</div>

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 20pt; line-height:26px; letter-spacing:0;" class="montserrat font-weight-normal">Body Large - 20</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">Body Large - Montserrat</p>
            <p>Font size: 20pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 26pt</p>
            <p>Character tracking: .5em</p>
        
        </div>
</div>

<!-- GENERAL SIZES -->

<hr class="mt-5">

<h6 class="font-weight-bold">General Sizes</h6>
<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 40pt; line-height:45px;" class="oswald font-weight-normal">H3 - 40pt</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">H3 - Libre oswald</p>
            <p>Font size: 40pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 45pt</p>
            <p>Character tracking: 1em</p>
        
        </div>
</div>

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 24pt; line-height:30px;" class="oswald font-weight-normal">H4 - 24pt</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">H4 - Libre oswald</p>
            <p>Font size: 24pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 30pt</p>
            <p>Character tracking: 1.5em</p>
        
        </div>
</div>

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 16pt; line-height:24px; letter-spacing:0;" class="montserrat font-weight-normal">Body Copy Medium - 16</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">Body Copy Medium - Montserrat</p>
            <p>Font size: 16pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 24pt</p>
            <p>Character tracking: .5em</p>
        
        </div>
</div>
              
<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 14pt; line-height:22px; letter-spacing:0;" class="montserrat font-weight-normal">Body Copy Small - 14</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">Body Copy Small - Montserrat</p>
            <p>Font size: 14pt</p>
            <p>Font weight: regular</p>
            <p>Line height: 22pt</p>
            <p>Character tracking: .5em</p>
        
        </div>
</div>  

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 14pt; line-height:24px; letter-spacing:3px;" class="montserrat font-weight-bold">CTA TEXT LARGE - 14</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">CTA Text Large - Montserrat</p>
            <p>Font size: 14pt</p>
            <p>Font weight: bold</p>
            <p>Line height: 24pt</p>
            <p>Character tracking: 2em</p>
        
        </div>
</div>

<div class="row mt-5">

        <div class="col-sm-6">
            <p style="font-size: 12pt; line-height:24px; letter-spacing:3px; font-weight:700;" class="montserrat">CTA TEXT SMALL - 12</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">CTA Text Small - Montserrat</p>
            <p>Font size: 12pt</p>
            <p>Font weight: bold</p>
            <p>Line height: 24pt</p>
            <p>Character tracking: 2em</p>
        
        </div>
</div>

<div class="row mt-5 mb-5">

        <div class="col-sm-6">
            <p style="font-size: 12pt; line-height:16px; letter-spacing:2px; font-weight:500;" class="montserrat">EYEBROW TEXT - 12</p>
        </div>

        <div class="col-sm-6">
            <p class="font-weight-bold">Eyebrow Text - Montserrat</p>
            <p>Font size: 12pt</p>
            <p>Font weight: semi-bold</p>
            <p>Line height: 16pt</p>
            <p>Character tracking: 2em</p>
        
        </div>
</div>          
              
              
     
</main>  
                    
</div>
</div>



