

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Typography</h1>
  <p>The typography chosen for Dollywood represents the best web font solution to the fonts used for print materials. For Dollywood we are using Libre Baskerville and Montserrat, both are free Google fonts. </p>

</div>

<hr style="margin-top: 5em;">
<h6 style="margin: 0 0 2em 0;">Typefaces in Use</h6>
<div class="row">

        <div class="col-sm-6">
            <small class="text-muted">PRIMARY</small>
            <h2 class="baskerville text-muted">Libre Baskerville</h2>
            <small><a href="https://fonts.google.com/specimen/Libre+Baskerville?query=libre+b" target="_blank" alt="Google Fonts - Libre Baskerville">DOWNLOAD ></a></small>
        </div>

        <div class="col-sm-6">
            <small class="text-muted">SECONDARY</small>
            <h2 class="montserrat text-muted">Montserrat</h2>
            <small><a href="https://fonts.google.com/specimen/Montserrat" target="_blank" alt="Google Fonts - Montserrat">DOWNLOAD ></a></small>
    
        </div>
</div>

<hr style="margin-top: 5em;">
<h6 style="margin: 0 0 2em 0;">Weights</h6>
<div class="row">

        <div class="col-sm-6">
            <p style="font-size: 2.5em;" class="baskerville font-weight-bold text-muted">Bold</p>
            <p style="font-size: 2.5em;" class="baskerville text-muted">Regular</p>
        </div>

        <div class="col-sm-6">
        <p style="font-size: 2.5em;" class="montserrat font-weight-bold text-muted">Bold</p>
        <p style="font-size: 2.5em;" class="montserrat font-weight-normal text-muted">Regular</p>    
        <p style="font-size: 2.5em;" class="montserrat font-weight-light text-muted">Light</p>  
        </div>
</div>

<hr style="margin-top: 5em;">
<h6 style="margin: 0 0 2em 0;">Display Sizes</h6>
<div class="row">

        <div class="col-sm-6">
            <p style="font-size: 2.5em;" class="baskerville font-weight-bold text-muted">Bold</p>
            <p style="font-size: 2.5em;" class="baskerville text-muted">Regular</p>
        </div>

        <div class="col-sm-6">
            <p>H1 - Libre Baskerville</p>
            <p>Font size: 54pt</p>
            <p>Font weight: bold</p>
            <p>Line height: 60pt</p>
            <p>Character tracking: 1.5em</p>
        
        </div>
</div>
  
              
              
                      <hr>
                      <div class="row">
                        <div class="col-sm">
                    
                            <%= render "footer" %>
                    
                        </div>
                      </div>              
              
              
     
</main>  
                    
</div>
</div>



