

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Welcome to the</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">HFE Visual Design Guide</h1>
  <p class="lead">This guide is meant to be a working, living document for designers  and developers of the Herschend Family Entertainment properties  to reference for all future design system iterations.</p>

  <p class="lead">For wireframes and content questions, reference the links above.</p>

  <p class="font-weight-bold">Within this visual design guide you will find:</p>

  <ul>
    <li>Global Brand Elements
        <ul>
            <li>Principles</li>
            <li>Grid</li>
            <li>Components</li>
        </ul>
    </li>
    
  </ul>

  <ul>
  <li>Property Brand Elements
      <ul>
          <li>Typography</li>
          <li>Photography</li>
          <li>Components</li>
          <li>Forms</li>
          <li>Colors</li>
          <li>Icons</li>
          <li>Button Styles</li>

      </ul>
  </li>
  
</ul>


</div>
  
              
              
                      <hr>
                      <div class="row">
                        <div class="col-sm">
                    
                            <%= render "footer" %>
                    
                        </div>
                      </div>              
              
              
     
</main>  
                    
</div>
</div>



