

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Dollywood Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Promo Panel</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/dw-promopanel.png", alt: "Promo Panel") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component combines text and image into a 50/50 layout.

            <p>The content author can add the following elements:
            
            <p>Text side
            <ul>
            <li>eyebrow text</li>
            <li>headline text</li>
            <li>body copy text</li>
            <li>CTA</li>
            </ul>
            
            <p>Image side
            <ul>
            <li>image or icon</li>
            </ul>
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



