

    <!-- left column -->
		<nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">

      <%= render "VisualGuide" %>


      </div>
    </nav>
    
<!-- right column -->
<main role="main" class="col-md-9 ml-sm-auto col-lg-9">

<div style="margin: 2.5em 0 5em 0;">
<small style="text-transform: uppercase;">Newport Aquarium Brand Elements</small>  
<h1 class="display-4" style="margin: 0 0 1em 0;">Components: Event Listing/Daily Schedule</h1>

</div>


<hr class="my-5">
<div class="row mt-5">

        <div class="col-sm-6">
            <p><%= image_tag("/design-system/photography/naq-eventlisting.png", alt: "Event Listing/Daily Schedule") %></p>
        </div>

        <div class="col-sm-6">

            <h5 class="font-weight-bold mb-5">Layout and Rules</h5>

            <p>This component houses any and all relevant information for the property’s events and ‘things to see.’ These items can be sorted by time or activity. When sorted by activity, the content authors can decide to further sort by alphabetical or featured items.</p>

            <p>The events can be further defined by a ‘featured’ or ‘all’ category, which can be utilized by each day. Featured events will show first.</p>
            
            <p>The Daily Schedule also allows for a Quick View component, which draws from the first few events available for that day (4 on desktop, 3 on mobile). The Quick View utilizes the same data as the Daily Schedule.</p>
            
            <p>The content author can add the following elements per component:
            <ul><li>Event name</li>
            <li>Event times</li>
            <li>Event location</li>
            <li>Event image</li>
            <li>Description</li>
            <li>CTA</li></ul>
                        
            </p>


            </div>
</div>

           
              
     
</main>  
                    
</div>
</div>



